@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 70% 3%;
    --foreground: 0 0% 98%;

    --card: 216 70% 2%;
    --card-foreground: 0 0% 98%;

    --popover: 216 70% 3%;
    --popover-foreground: 0 0% 98%;

    --primary: 216 10% 96%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 216 10% 60%;

    --accent: 40 85% 58%;
    --accent-foreground: 0 0% 98%;

    --success: 142 80% 42%;

    --destructive: 0 70% 45%;
    --destructive-foreground: 0 0% 98%;

    --border: 216 15% 15%;
    --input: 216 15% 15%;
    --ring: 0 0% 83.1%;

    --code-blue: 210 100% 66%;
    --code-amber: 36 55% 53%;
    --code-yellow: 42 70% 60%;
    --code-red: 355 50% 57%;
    --code-violet: 286 56% 63%;
    --code-green: 131 43% 50%;
    --code-gray: 0 0% 64%;
    --code-comment: 0 0% 45%;

    --radius: 0.5rem;

    --layout-width: 1056px;

    --header-height: 72px;
    --header-z-index: 100;

    --form-gap: 40px;
    --form-headline-gap: 12px;
    --form-padding: 24px;

    --padding-x: 20px;

    --section-gap: 80px;
    --section-padding-y: 112px;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 500;
    color: var(--primary);
    line-height: 1.3; /* the baseline is 1.5 */
    letter-spacing: 0.02em;
  }

  h1 {
    font-size: clamp(34px, 5vw, 48px);
  }

  h2 {
    font-size: clamp(30px, 5vw, 40px);
    /* text-align: center; */
    max-width: 36rem;
  }

  p,
  a,
  label,
  input,
  select,
  figcaption {
    font-weight: 300;
    text-wrap: pretty;
    letter-spacing: 0.055em; /* the baseline is 0 */
    line-height: 1.9; /* the baseline is 1.5 */
  }

  p,
  figcaption {
    color: hsl(var(--muted-foreground));
    font-size: clamp(13px, 5vw, 14px);
    max-width: 32rem /* 512px */;
  }

  section {
    @apply relative px-[--padding-x] overflow-hidden h-full w-full;
  }

  .label {
    @apply text-xxs uppercase tracking-[0.125em] font-normal;
  }

  .form-headline {
    @apply text-xl leading-none;
  }

  .form-description {
    @apply text-sm text-muted-foreground tracking-wider;
  }

  .card-wrapper {
    @apply relative p-[1px] rounded-sm overflow-hidden border right-gradient;
  }

  .right-gradient {
    background-image: linear-gradient(
      45deg,
      hsl(var(--border)) 0%,
      hsl(var(--border)) 10%,
      hsl(var(--border)) 90%,
      hsl(var(--primary)) 100%
    );
  }

  .left-gradient {
    background-image: linear-gradient(
      315deg,
      hsl(var(--border)) 0%,
      hsl(var(--border)) 10%,
      hsl(var(--border)) 90%,
      hsl(var(--primary)) 100%
    ) !important;
  }
}
